<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Courses
        link(rel="stylesheet", href="/style.css")
    body
        courses
        form(action="/api/v1/courses", method="post")
            label(for="") Name
            input(type="text", name='name')
            label(for="") Price
            input(type="text", name='price')
            label(for="") Requirements
            input(type="text", name='requirements')
            label(for="") Description
            input(type="text", name='description')
            label(for="") Prerequisites
            input(type="text", name='prerequisites')
            label(for="") Discount
            input(type="text" name='discount')
            label(for="") Objectives
            input(type="text", name='objectives')
            label(for="") Length
            input(type="text", name='length')
            button Submit
        form(action="/upload", method='post', enctype='multipart/form-data')
            input(type="file", name="fichier")
            button Submit

        div.progressbar
        script(src="/index.js")